<div class="flex justify-center">
  <%= image_tag "no-comments.png", class:"w-full lg:w-1/5", alt:"Image extracted from https://iconos8.es" %>
</div>
<div class="flex justify-center">
  <p class="font-semibold text-3xl text-indigo-700 text-center">
    <%= message %>
  </p>
</div>
<div class="flex justify-center">
  <p class="font-semibold text-2xl text-indigo-600 text-center">
    <%= subtitle %>
  </p>
</div>
