<div class="">
  <div class="flex justify-center">
    <h2 class="text-4xl font-semibold"><%= article.title %></h2>
  </div>
  <div class="text-justify">
    <p><%= article.content %></p>
  </div>
</div>