<div class="flex justify-center">
  <%= image_tag "page-not-found.png", class:"w-full lg:w-1/3", alt:"Image extracted from https://iconos8.es" %>
</div>
<div class="flex justify-center">
  <p class="font-semibold text-3xl text-indigo-700 text-center">
    <%= message %>
  </p>
</div>
