<header class="masthead text-center text-white d-flex" style="background-image: url(<%= image_url('header.jpg') %>);">
  <div class="container my-auto" style="margin-top: 80px;">
    <div class="row">
      <div class="col">
        <div class="d-block d-sm-block" style="padding-top: 50px;">
          <div>
            <h1 class="text-uppercase"><strong style="font-size: 45px;">Learn and share your knowledge</strong></h1>
            <hr>
          </div>
          <div>
            <p class="text-faded mb-5">Get smarter, learn about any topic related to FTC or FRC, teach people with doubts, share your knowledge and enjoy it!</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
        <div class="d-none d-sm-none" style="padding-right: 50px;padding-left: 50px;padding-top: 50px;">
          <div>
            <h1 class="text-uppercase"><strong style="font-size: 45px;">Learn and share your knowledge</strong></h1>
            <hr>
          </div>
          <div>
            <p class="text-faded mb-5">Get smarter, learn about any topic related to FTC or FRC, teach people with doubts, share your knowledge and enjoy it!</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="border rounded border-dark shadow-lg" style="padding: 60px;width: 450px;background-color: rgba(89,89,89,0.6);filter: blur(0px) brightness(127%) contrast(100%);">
          <form method="post"><strong style="font-size: 40px;">Sign up Today!</strong>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="text" placeholder="Username" name="username"></div>
            <div class="form-group"><input class="form-control" type="number" max="9999" placeholder="Team Number (Optional)"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-8 mx-auto text-center">
        <h2 class="text-white section-heading">To fill a big need</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">This app is trying to cover any difficulties in the research process so that you can do things more efficiently and easily.</p><a class="btn btn-light btn-xl js-scroll-trigger" role="button" href="#services">Get Started!</a></div>
    </div>
  </div>
</section>
