<%= render "shared/navbar" %>
  <div class="h-screen" style="background-image: url('<%= image_path "jumbo.jpeg" %>')">
    <h2 class="text-center text-2xl font-bold leading-9 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Learn and Share Knowledge
    </h2>
  </div>
<%= render "shared/footer" %>